body {
    background: hsl(210, 72%, 32%);

    font-family   : "Limelight", sans-serif;
    text-rendering: optimizeLegibility;
}


.no-close .ui-dialog-titlebar-close {
    display: none;
}

.middle {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    top            : 0;
    right          : 0;
    bottom         : 0;
    left           : 0;
}

.fullscreen {
    width : 100%;
    height: 100%;
}

.borderline{
    border: 5px solid black;
}